# Exclude unnecessary files from Docker build context
node_modules
build-info
artifacts
cache
coverage
.vscode
.DS_Store
.git
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*
dist
hardhat.cache